@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

/* Add these custom scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll; /* Ensure it's still scrollable if content overflows */
}

/* You might want to ensure body/html don't have conflicting overflow if issues arise */
html, body {
  height: 100%;
  /* overflow: hidden; Consider if this is needed based on overall layout */
} 